.title {
    padding-left: 115px;
    background: #b3b3b3;
    margin: 15px 93px;
}


.col {
    padding: 5px;
}
.length {
    margin-left: 115px;
}

.symbols {
    margin-left: 120px;
}
.number {
    margin-left: 115px;
}
.lower {
    margin-left: 40px;
}
.similar {
    margin-left: 62px;
}
.quantity {
    margin-left: 170px;
}
input.Clip {
    margin-left: 84px;
    padding: 10px;
}
.container {
    background: #f7f7f7;
    border: 1px solid;
}
